.site {
    width: 800px;
}

.margin-bottom {
    margin-bottom: 1em;
}

.margin-right {
    margin-right: 1em;
}

.campo-grande {
    width: 550px!important;
}

.imagem-usuario {
    width: 5em;
    margin-right: 1em;
}

.largura100 {
	width: 100%;
}

.negrito {
	font-weight: bold;
}

.campo-metade {
	width: 48%;
	margin-right: 3%;
	display: inline-block;
}

.campo-metade:last-child {
	margin-right: 0;
}